#include "WinResources.h"

APP_ICON ICON "files/MissingHUD2_Ico.ico"

#define PRODUCT_VER         1,3,0,0
#define PRODUCT_VER_STR     "1.3.0"

#ifdef NDEBUG
    #define VER_DEBUG 0
#else
    #define VER_DEBUG VS_FF_DEBUG
#endif

VS_VERSION_INFO     VERSIONINFO
FILEVERSION         PRODUCT_VER
PRODUCTVERSION      PRODUCT_VER
FILEFLAGSMASK       VS_FFI_FILEFLAGSMASK
FILEFLAGS           VER_DEBUG
FILEOS              VOS_NT_WINDOWS32
FILETYPE            VFT_APP
FILESUBTYPE         VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",        "Trevor Meehl"
            VALUE "FileDescription",    "Binding of Isaac: Rebirth Statistics HUD"
            VALUE "FileVersion",        PRODUCT_VER_STR
            VALUE "InternalName",       "MissingHUD2"
            VALUE "OriginalFilename",   "MissingHUD2.exe"
            VALUE "ProductName",        "Missing HUD 2"
            VALUE "ProductVersion",     PRODUCT_VER_STR
            VALUE "LegalCopyright",     "Apache 2.0 License"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END